.album-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list-container {
  margin-left: 40px;
  max-height: 65vh;
  overflow-y: auto;
  width: 100%;
}

.image-list-container {
  display: flex;
}

.image-list-container img {
  background: transparent;
  margin-top: 15px;
  margin-right: 40px;
}

.image-container {
  min-height: 500px;
}

@media screen and (max-width: 880px) {
  .image-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .list-container {
    margin-left: 0;
  }
  .image-container {
    min-height: unset;
  }
}

.list-container::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.list-container::-webkit-scrollbar-track {
  background: none;
}

.list-container::-webkit-scrollbar-thumb {
  background: var(--gray-dark);
}

.list-container::-webkit-scrollbar-thumb:hover {
  background: var(--gray-medium);
}
